# Copier ce fichier en ".env" et renseigner les vraies valeurs
# Le fichier ".env" ne doit jamais être commité (voir .gitignore)

# Clé secrète Django
SECRET_KEY=change-moi-en-production

# Identifiants OAuth2 Google
SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=
