anyio==4.13.0
asgiref==3.11.1
channels==4.3.2
click==8.4.1
colorama==0.4.6
Django==6.0.4
django-cors-headers==4.9.0
djangorestframework==3.17.1
h11==0.16.0
httptools==0.8.0
idna==3.18
numpy==2.4.4
pandas==3.0.3
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
PyYAML==6.0.3
six==1.17.0
sqlparse==0.5.5
tzdata==2026.1
uvicorn==0.48.0
watchfiles==1.2.0
websockets==16.0
